{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
    <title>技術探検</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <h1><a href="{% url 'blog:index' %}">
                <p>技術探検</p>
            </a></h1>
        </div>
        <div class="auth-buttons">
            <!-- loginボタンの動作 -->
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:user_update' %}" class="button">{{ user.username }}さん</a>
                <a href="{% url 'accounts:logout' %}" class="button">Logout</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="button">Login</a>
                <a href="{% url 'accounts:signup' %}" class="button">Signup</a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>

</html>
